[submodule "src/fonts/FiraSans"]
	path = src/fonts/FiraSans
	url = https://github.com/bBoxType/FiraSans.git
[submodule "src/fonts/FiraGO"]
	path = src/fonts/FiraGO
	url = https://github.com/bBoxType/FiraGO.git
[submodule "src/fonts/DarkerGrotesque"]
	path = src/fonts/DarkerGrotesque
	url = https://github.com/bettergui/DarkerGrotesque.git
[submodule "src/fonts/Playfair"]
	path = src/fonts/Playfair
	url = https://github.com/clauseggers/Playfair.git
