[submodule "src/fonts/FiraSans"]
	path = src/fonts/FiraSans
	url = https://github.com/bBoxType/FiraSans.git
[submodule "src/fonts/FiraGO"]
	path = src/fonts/FiraGO
	url = https://github.com/bBoxType/FiraGO.git
[submodule "src/fonts/DarkerGrotesque"]
	path = src/fonts/DarkerGrotesque
	url = https://github.com/bettergui/DarkerGrotesque.git
[submodule "src/fonts/Playfair"]
	path = src/fonts/Playfair
	url = https://github.com/clauseggers/Playfair.git
[submodule "src/fonts/Inter"]
	path = src/fonts/Inter
	url = https://github.com/rsms/inter.git
[submodule "src/fonts/Hubot"]
	path = src/fonts/Hubot
	url = https://github.com/github/hubot-sans.git
[submodule "src/fonts/Mona"]
	path = src/fonts/Mona
	url = https://github.com/github/mona-sans.git
[submodule "src/fonts/LibreCaslonCondensed"]
	path = src/fonts/LibreCaslonCondensed
	url = https://github.com/ertekinno/libre-caslon-condensed.git
[submodule "src/fonts/SpaceGrotesk"]
	path = src/fonts/SpaceGrotesk
	url = https://github.com/floriankarsten/space-grotesk.git
[submodule "src/fonts/MonaSans"]
	path = src/fonts/MonaSans
	url = https://github.com/github/mona-sans.git
[submodule "src/fonts/Instrument-sans"]
	path = src/fonts/Instrument-sans
	url = https://github.com/Instrument/instrument-sans.git
[submodule "src/fonts/Instrument-serif"]
	path = src/fonts/Instrument-serif
	url = https://github.com/Instrument/instrument-serif.git
[submodule "src/fonts/Ubuntu-Sans-fonts"]
	path = src/fonts/Ubuntu-Sans-fonts
	url = https://github.com/canonical/Ubuntu-Sans-fonts.git
